:host{   
    display: inline-block; 
    width: calc(100% /2  - 24px);
    min-width: 320px;
    height:360px;    
    border: 1px solid lightblue;        
    margin:20px 12px;
    vertical-align: top;       
    overflow-y:auto;
}

.marked{
    border:2px solid blue;
}

:host::-webkit-scrollbar {display:none}