:host{   
    display: inline-block;  
    width: calc(100%  - 24px);
    margin:20px 12px;
    vertical-align: top;     
}

.gov{  
    display: inline-block;  
    border-radius: 12px ;      
    box-shadow: 12px 12px 12px #ccc;  
    overflow: hidden;  
    margin: 10px;
    width: calc(100% / 4 -20px);  
    height: 60px;
}

img{
    width: 100% ;  
    height: 60px;
}

 
@media only screen and (max-width:1200px) {
   
}
@media screen and (max-width:1023px) {
    .gov{         
        margin: 4px 4px;
        width:  calc(100% / 4 - 8px) ;  
        height: 60px;
    }
}
@media only screen and (max-width:768px) {
    .gov{         
        margin: 4px 24px;
        width:  calc(100% / 2 - 48px) ;  
        height: 60px;
    }
}
@media only screen and (max-width:480px) {  
    .gov{  
         
        margin: 4px;
        width:  calc(100% / 2 - 8px) ;  
        height: 60px;
    }
    
}