<div class="contain">
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/convenience/but-declare.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/convenience/but-gov-info.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/convenience/but-corruption.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/convenience/but-mail.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/convenience/but-tickets2.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>    
</div>