<div class="contain">
    <a class="gov" href="https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/temp%2Fcontent-01.jpg?alt=media&token=47bdd070-6bfc-4185-a6ee-b24eee412c36" >
        <img src="assets/images/convenience/but-declare.jpg"     alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <!-- <div  class="gov" (click)="onInformation()">
        <img   src="assets/images/convenience/but-gov-info.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </div> -->
    <a class="gov" href="http://www2.wuling-farm.com.tw/information/index3.php " >
        <img   src="assets/images/convenience/but-gov-info.jpg"   alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
     
    <a class="gov" href="http://www2.wuling-farm.com.tw/anti/index3.php">
        <img src="assets/images/convenience/but-corruption.jpg"   alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="http://www2.wuling-farm.com.tw/message/index3.php" >
        <img src="assets/images/convenience/but-mail.jpg"   alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <!-- <a class="gov" href="https://www.facebook.com/WulingFarm0510?sk=wall" target="_blank">
        <img src="assets/images/convenience/but-tickets2.jpg" width="180" height="66" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>     -->
</div>