:host{   
    display: block;      
    //border: 1px solid black;    
    background-color: lightgray;
    border-radius: 5px ; 
    box-shadow: 12px 12px 12px #ccc;   
    margin:20px 0;
    padding:20px;         
}

:host(.marked){
    padding:19px;

}

