<div class="contain">
    <!-- <a class="gov" href="http://www2.wuling-farm.com.tw/chief/index.php" target="_blank">
        <img src="assets/images/related/chief.jpg" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a> -->
    <a class="gov" href='http://www.vac.gov.tw/content/index.asp?pno=129' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fvac.jpg?alt=media&token=608bd051-cc41-4794-881b-7d2aae9a9f91'
             alt='廣告小圖：國軍退除役官兵輔導委員會-政風橋樑'>
    </a>
    <a class="gov" href='http://itaiwan.gov.tw/' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fwifi.jpg?alt=media&token=c3e2130f-3d4c-48d4-890e-266652199acb'
              alt='廣告小圖：中央行政機關室內公共區域免費無線上網服務'>
    </a>
    <a class="gov" href='http://www.humanrights.moj.gov.tw/mp200.html' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fpower.gif?alt=media&token=b72c63fa-75d6-466f-a054-b916730d9694'
              alt='廣告小圖：法務部 人權大步走專區'>
    </a>
    <a class="gov" href='https://www.facebook.com/tfda2014.tw' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fmedision.jpg?alt=media&token=a550eebe-56c3-45a4-b926-891b57cbd453'
             alt='廣告小圖：衛服部食用玩家Facebook粉絲團'>
    </a>
    <a class="gov" href='http://ai.gov.tw/' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fflux.jpg?alt=media&token=363da7fe-70f8-41e0-91ea-3263fe6f9fa5'
            alt='廣告小圖：禽流感防疫專區'>
    </a>
    <a class="gov" href='https://drive.google.com/folderview?id=0B6V49IdIqLEpbEUydkZRcUVmU1E&usp=sharing' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fchident.jpg?alt=media&token=9f68db94-15c2-4dac-8989-5e6f6fcd0703'
              alt='廣告小圖：國民年金重要權益事項宣導'>
    </a>
    <a class="gov" href='http://www.amlo.moj.gov.tw' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fwatch.jpg?alt=media&token=1a4313a3-d38e-4260-8e08-be1da4ad0552'
             alt='廣告小圖：行政院洗錢防制辦公室'>
        </a>
    <a class="gov" href='http://www.cpc.ey.gov.tw/' target='_blank'>
        <img src='https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/related%2Fcomsume.jpg?alt=media&token=60d0df1b-0b9e-4a1c-a1ac-4b4a0fb76559'
              alt='廣告小圖：行政院消費者保護委員會'></a>
</div>