<div class="contain">
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/related/chief.jpg" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/related/even.jpg" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/related/service.jpg" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
    <a class="gov" href="declare.htm" target="_blank">
        <img src="assets/images/related/survey.jpg" alt="按鈕:武陵農場農特產品販售聲明稿" />
    </a>
</div>