:host{   
    display: inline-block; 
    width: calc(100% /2  - 24px);     
    //border: 1px solid lightblue;   
    margin:20px 12px;
    vertical-align: top;       
    overflow-y:auto;
}

:host::-webkit-scrollbar {display:none}

button{
    margin: 6px 24px;
    width:calc(100% - 48px);
    height:64px;
    
    text-align: left;
}
.item{
    display: inline-block;
    width:  60px;    
}

.title{
    
    height:28px;
}

@media only screen and (max-width:1200px) {
   
}
@media screen and (max-width:1023px) {
     
}
@media only screen and (max-width:768px) {
    button{
        margin: 6px 6px;
        width:calc(100% - 12px);
        
    }
    .item{
        width:  60px; 
        display: none;   
    }
     
}
@media only screen and (max-width:480px) {
    :host{                     
        width: calc(100%  - 24px);           
    }
    button{
        margin: 6px 6px;
        width:calc(100% - 12px);
        height:64px;       
        text-align: left;
    }
    .item{
        display: inline-block;
        width:  60px;    
    }
     
}


   