:host{   
    display: inline-block; 
    display: inline-block;  
    width: calc(100% - 8px);
    min-width: 320px;
    height:300px;    
    border: 1px solid blueviolet;    
    border-radius: 5px ;   
    margin:20px 4px;      
}