<img *ngIf="data.link" [src]="data.link" style="width: 100% ; height: 100% ;  padding: 0; margin: 0; " alt="" />

<div *ngIf="!data.link">
    <main>
        &nbsp;<b style="font-size: 16pt; font-family: 標楷體;">武陵櫻花季開鑼  一起追櫻夯趣</b>
        <p style="margin-bottom: 0cm; line-height: 0.64cm">&nbsp;</p>
        <p align="justify" style="text-indent: 1.17cm; margin-top: 0.32cm; margin-bottom: 0.32cm; line-height: 150%">
            <font face="標楷體">
                <font style="font-size: 14pt">為配合國人農曆年假春遊和賞櫻熱潮，眾所矚目的武陵農場櫻花季，公路總局和武陵農場於</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">9</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日在交通部召開記者會，宣布交通管制自</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">2</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">7</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">初三</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">至</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">2</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">27</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日，共</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">天；另，鑒於歷年</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">228</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">假期均有追櫻車潮，該</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">4</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">天連假是否持續管制，將視花況於</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">10</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">天前發布消息。</font>
            </font>
        </p>
        <p align="justify" style="text-indent: 1.17cm; margin-top: 0.32cm; margin-bottom: 0.32cm; line-height: 150%">
            <font face="標楷體">
                <font style="font-size: 14pt">武陵農場表示，受極端氣候和暖冬的影響，讓花期變得難以預估，櫻花在幾波冷氣團後，就可打破花苞休眠，農場目前許多山櫻花皆已經盛開，普遍認為今年櫻花將依品種特性、栽培位置等不同而陸續綻放，推估花期將較去</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(107)</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">年略為提早，故需視天候及花況再公布</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">228</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">連假是否持續管制，以免遊客敗興而歸。為讓賞櫻民眾能有安全舒適及高品質的遊憩空間，公路總局比照往年與各相關單位合作，共同規劃「場內總量管制、道路交通管制、團客預約入場及公共運輸接駁」等四大交通疏運措，且今</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(108)</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">年櫻花季長達</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">天，籲請遊客儘量於周一到周四搭乘大眾運輸工具入園，以節省交通時間。</font>
            </font>
        </p>
        <p align="justify" style="text-indent: 1.17cm; margin-top: 0.32cm; margin-bottom: 0.32cm; line-height: 150%">
            <font face="標楷體">
                <font style="font-size: 14pt">武陵農場每年</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">2</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月住宿及露營網路訂位，分別於前一年</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">11</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月及</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">12</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日開放，熱門時段均是以秒殺速度額滿，已確認訂位之旅客可在</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日起下載車輛通行證 </font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">一房間或一個營位，僅發放一張車證</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">；其餘遊客仍可透過賞櫻專車 </font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">公共運輸或團客</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">) </font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">入園賞櫻。</font>
            </font>
        </p>
        <p align="justify" style="text-indent: 1.17cm; margin-top: 0.32cm; margin-bottom: 0.32cm; line-height: 150%">
            <font face="標楷體">
                <font style="font-size: 14pt">公共運輸部分規劃如下：台北和宜蘭端由國光客運提供，於</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">17</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日零時開賣，搭乘地點為國光客運台北站、台北市府轉運站、宜蘭轉運站、羅東轉運站、三星綜合運動場，民眾可在全家、萊爾富、統一超商預購車票；梨山端則由豐原客運提供，於</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">11</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日零時開賣可透過豐原客運官網及</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">APP</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">預購，另配合中巴通行中橫便道及服務中部地區遊客，搭乘前一日</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">16:30</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">至</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">18:30</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">時在參山處梨山遊客服務中心臨櫃買票。</font>
            </font>
        </p>
        <p align="justify" style="text-indent: 1.17cm; margin-top: 0.32cm; margin-bottom: 0.32cm; line-height: 150%">
            <font face="標楷體">
                <font style="font-size: 14pt">團客</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">運輸業或旅行業</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">) </font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">部分將於</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">10</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日上午</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">9</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">時起，透過網路</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(http://sakura.ri168.tw/index.php)</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">開放預約登記車號，並於在</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">5</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日內完成團費繳納，確認後可在</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日起下載車輛通行證，相關問題諮詢可逕洽武陵農場。身障團客一日遊部分則從</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日起，透過電話向武陵農場預約經審核通過，於網路下載通行證。</font>
            </font>
        </p>
        <p align="justify" style="text-indent: 1.17cm; margin-top: 0.32cm; margin-bottom: 0.32cm; line-height: 150%">
            <font face="標楷體">
                <font style="font-size: 14pt">武陵農場提醒，交通管制期間，於台</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">7</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">甲線與中</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">124</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">線交叉口將有台中市政府員警配合交管，所有車輛均須出示當日正確之通行證始能進入中</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">124</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">線，由於武陵農場位於雪霸國家公園區域內，未經雪霸國家公園管理處核准，切勿任意炊煮、餵食野生動物、設立攤位、流動兜售及操作遙控無人機，入場車輛請配合現場交管人員指揮，在指定地點上、下車，以共同維護生態環境及賞櫻品質。</font>
            </font>
        </p>
        <p style="margin-bottom: 0cm; line-height: 100%">
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">年武陵櫻花季重要日期攻略</font>
            </font>
        </p>
        <table width="652" cellpadding="7" cellspacing="0">
            <colgroup>
                <col width="23" />
                <col width="270" />
                <col width="316" /> </colgroup>
            <tbody>
                <tr valign="top">
                    <td colspan="2" width="306" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p align="center">
                            <font face="標楷體">
                                <font style="font-size: 14pt">項目</font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p align="center">
                            <font face="標楷體">
                                <font style="font-size: 14pt">時間</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="306" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">訂 房 </font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">107 			</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">前一年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">) 			11</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日起</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="306" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">訂營位 </font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">107 			</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">前一年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">) 			12</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日起</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td rowspan="3" width="23" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p style="margin-bottom: 0cm">
                            <font face="標楷體">
                                <font style="font-size: 14pt">一</font>
                            </font>
                        </p>
                        <p style="margin-bottom: 0cm">
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                        </p>
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">遊</font>
                            </font>
                        </p>
                    </td>
                    <td width="270" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p style="margin-bottom: 0cm">
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">散客</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">公共運輸預售</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">豐客梨山端</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
                        </p>
                        <p align="right">
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">國光台北宜蘭端</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p style="margin-bottom: 0cm">
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">11</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">00</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">時</font>
                            </font>
                        </p>
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">17</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">00</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">時</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="270" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">團客預售</font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">10</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">09</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">時</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="270" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">身障團客預約</font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">09</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">時</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="306" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">通行證開放下載</font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">21</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">09</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">時</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="306" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">武陵櫻花季</font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">2</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">7</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">初三</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">至</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">2</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">27</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="306" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">228</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">連假是否管制公布</font>
                            </font>
                        </p>
                    </td>
                    <td width="316" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">年</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">月</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">18</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">日</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">09</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">時 </font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">(</font></font></span></font>
                            <font face="標楷體">
                                <font style="font-size: 14pt">購票等相關規劃將一併公布</font>
                            </font>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">)</font></font></span></font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-bottom: 0cm; line-height: 100%">
            <font face="標楷體">
                <font style="font-size: 14pt">發稿單位：</font>
            </font>
            <font face="標楷體">
                <font style="font-size: 14pt">國軍退除役官兵輔導委員會武陵農場</font>
            </font>
        </p>
        <p style="margin-bottom: 0cm; line-height: 100%">
            <font face="標楷體">
                <font style="font-size: 14pt">發稿日期：</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">108</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">年</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">1</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">月</font>
            </font>
            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">9</font></font></span></font>
            <font face="標楷體">
                <font style="font-size: 14pt">日</font>
            </font>
        </p>
        <p style="margin-bottom: 0cm; line-height: 0.64cm">
            <font face="標楷體">
                <font style="font-size: 14pt">聯絡人：</font>
            </font>
        </p>
        <table width="553" cellpadding="7" cellspacing="0">
            <colgroup>
                <col width="79" />
                <col width="90" />
                <col width="109" />
                <col width="217" /> </colgroup>
            <tbody>
                <tr valign="top">
                    <td width="79" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">姓名</font>
                            </font>
                        </p>
                    </td>
                    <td width="90" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">職稱</font>
                            </font>
                        </p>
                    </td>
                    <td width="109" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">電話</font>
                            </font>
                        </p>
                    </td>
                    <td width="217" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">電子郵件</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="79" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">楊 明</font>
                            </font>
                        </p>
                    </td>
                    <td width="90" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">行政助理</font>
                            </font>
                        </p>
                    </td>
                    <td width="109" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">0919-631258</font></font></span></font>
                        </p>
                    </td>
                    <td width="217" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">mitch810524@gmail.com</font></font></span></font>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" width="537" valign="top" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">交通聯絡專線</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="183" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">國光客運</font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="340" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">02-25583060</font></font></span></font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td colspan="2" width="183" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="標楷體">
                                <font style="font-size: 14pt">豐原客運</font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="340" style="border-style: solid; border-color: rgb(0, 0, 10); padding: 0cm 0.19cm 0cm 0.2cm;">
                        <p>
                            <font face="Calibri, serif"><span lang="en-US"><font face="Times New Roman, serif"><font style="font-size: 14pt">04-25234175</font></font></span></font>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="margin-bottom: 0cm; line-height: 0.64cm">&nbsp;</p>
    </main>
</div>