<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <div></div>
    <a href="https://mercury-object.firebaseapp.com/">
        <mat-icon style="font-size:24px; color:black ;margin: 12px ">business</mat-icon>
    </a>     
    <button mat-icon-button>
        <mat-icon>translate</mat-icon>
    </button>
    <button mat-icon-button (click)="onSignin()">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
       <app-footer></app-footer>        
</footer>
