<mat-toolbar>
    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/dorado-project.appspot.com/o/icons%2Flogo.jpg?alt=media&token=f93b4a37-3bdc-458d-b4e3-14d408dea1e8"
        alt="Wuling farm">

    <div></div>
    <button mat-icon-button (click)="onHome()">
        <mat-icon>home</mat-icon>
    </button>
    <a href="https://w3.wuling-farm.com.tw">
        <mat-icon style="font-size:24px; color:black ;margin: 12px ">business</mat-icon>
    </a>
    <!-- <button mat-icon-button>
        <mat-icon>translate</mat-icon>
    </button>
    <button mat-icon-button (click)="onSignin()">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
    </button> -->
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
    <app-footer></app-footer>
</footer>