article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  mat-card {
    max-width: 280px;
    margin:4px 4px;
    min-height: 360px;  
  }
  
  mat-card-content{
    margin:0px 8px;
  }
  mat-form-field{ 
    width:100%;
  }
  
  mat-card-actions{
    margin:12px 8px;
    text-align: center;
  }

  mat-tab-group{
    min-width: 340px;
  }  
 
  div{
    margin:0px 0px;
  } 
   
  button{
    width:auto;
  }
  
  button.login{
    width: 100%;
  }