:host{
    display: inline-block;   
    margin:20px 6px;
    text-align: center;  
    vertical-align: top;
    width: calc(100% / 4 - 12px);  
}
 
button{
   background-color: lightblue;
   font-size:14px;
   width:100%;
   height: 40px;
   padding: 4 px;
}  

@media only screen and (max-width:1200px) {
   
}
@media screen and (max-width:1023px) {

}
@media only screen and (max-width:768px) {  
    :host{   
        margin:10px 6px 0 6px;    
        width: calc(100% / 4 - 12px);  
    }
}
@media only screen and (max-width:480px) {   
    :host{   
        margin:10px 3px 0 3px;    
       
    }
}