:host{
    display: inline-block;   
    margin:20px 12px;
    text-align: center;
    vertical-align: top;
}
 
button{
   background-color: lightblue;
    width: 200px;   
    height: 40px; 
    padding: 4 px;

}