:host{
    display: inline-block;
    border:1px solid black;
    border-radius: 5px 5px 0 0;
    padding: 4 px;
    width: 200px;
    margin:20px 12px;
    text-align: center;
    vertical-align: top;
}

:host(.active){
    border: 2px solid blue;   
}